/*
ESERCIZIO 1) Crea un selettore per selezionare l'<h1> nella sezione "hero", ovvero nel jumbotron
ESERCIZIO 2) Crea un selettore per selezionare tutti i figli dell'elemento navbar
ESERCIZIO 3) Crea un selettore per selezionare il link "Continua a leggere" del jumbotron
ESERCIZIO 4) Crea un selettore per selezionare il primo blog post
ESERCIZIO 5) Crea un selettore per selezionare l'<hr> del primo blog post e colorarlo di rosso
ESERCIZIO 6) Crea un selettore per selezionare i link pari della navbar
ESERCIZIO 7) Crea un selettore per selezionare tutti gli <li> della prima "ordered-list" della sidebar ("Archivio")
ESERCIZIO 8) Crea un selettore per selezionare l'autore del secondo blog post
ESERCIZIO 9) Crea un selettore per selezionare il secondo <li> della lista del terzo blog post
ESERCIZIO 10) Crea un selettore per selezionare il link "Torna su" che trovi a fondo pagina nell'angolo in basso a destra
ESERCIZIO 11) Crea un selettore per selezionare il bottone "Nuovi" che trovi in basso
ESERCIZIO 12) Crea un selettore per selezionare il secondo link del footer

EXTRA Crea con JavaScript la funzionalità per rimuovere il link "twitter" sotto alla sezione "Altro" nell'elemento "aside". Deve avvenire al caricamento della pagina, automticamente.
EXTRA Crea con JavaScript la funzionalità per rimuovere il corrispondente elemento padre dal DOM cliccando sul link "Continua a leggere".
EXTRA Crea con JavaScript la funzionalità per creare un alert col nome dell'autore ogni volta che il cursore passa sopra l'autore del post.
*/


/******************************************************************************************************************************************************/
.jumbotron > div > h1{
    color: red;
}
/******************************************************************************************************************************************************/
.nav>*, 
div.container nav>*,
header+nav>*  /*PRENDI IL NAV SUBITO DOPO HEADER*/
div.container header+nav>* /*PRENDI IL NAV SUBITO DOPO HEADER PIU SPECIFICO*/
{
    color: red;
}        
/******************************************************************************************************************************************************/
.jumbotron a>*,
.jumbotron p.lead a, /*PIU SPECIFICO*/
.jumbotron div+a>*,
.jumbotron.col a>*
{
    color: red;
}
/******************************************************************************************************************************************************/
main .row .blog-post:first-of-type{
    border: 3px solid red;
}        

main .row .blog-post{
    border: 3px solid green;
}

main .row .blog-post:not(:first-of-type){
    border: 3px solid green;
}
/******************************************************************************************************************************************************/
main .row .blog-post:first-of-type hr{
    background-color: red;
}
/******************************************************************************************************************************************************/
div.container header.blog-header+nav>*:nth-child(even){
    color: blue;
}
/******************************************************************************************************************************************************/
aside div:nth-child(2) ol li {
    background-color: red;
}
/******************************************************************************************************************************************************/
main .row .blog-post:nth-of-type(2) .blog-post-meta a{
    color: red;
}
/******************************************************************************************************************************************************/
main .row .blog-post:last-of-type ul li:nth-child(2){
    color: red;
}
/******************************************************************************************************************************************************/
footer+a
{
    color: red;
}
/******************************************************************************************************************************************************/
.blog-pagination a:not(:first-of-type){
    background-color: red;
}
/******************************************************************************************************************************************************/
footer a:nth-child(2){
    color: red;
}
/******************************************************************************************************************************************************/
